@font-face {
   font-family: 'MetalMania';
   font-weight: bold;
   font-display: swap;
   src: local('sans-serif'), url(../fonts/MetalMania-Regular.ttf);
}

@font-face {
   font-family: 'OpenSansLight';
   font-weight: lighter;
   font-display: swap;
   src: local('sans-serif'), url(../fonts/OpenSans-Light.ttf);
}

@font-face {
   font-family: 'OpenSansReg';
   font-weight: normal;
   font-display: swap;
   src: local('sans-serif'), url(../fonts/OpenSans-Regular.ttf);
}
