@font-face {
   font-family: 'MetalMania';
   src: url('../font/MetalMania-Regular.ttf');
   font-weight: bold;
}

@font-face {
   font-family: 'OpenSansLight';
   src: url('../font/OpenSans-Light.ttf');
   font-weight: lighter;
}

@font-face {
   font-family: 'OpenSansReg';
   src: url('../font/OpenSans-Regular.ttf');
   font-weight: normal;
}

@font-face {
   font-family: 'OpenSansBold';
   src: url('../font/OpenSans-Bold.ttf');
   font-weight: bold;
}
