* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: 'OpenSansReg';
   font-size: 1rem;
   overflow-x: hidden;

   &.hide_content {
      overflow-y: hidden;
   }
}

.logo {
   font-size: 1.5rem;
   font-family: 'MetalMania';

   a {
      text-decoration: none;
      color: $white;
   }
}

.navbar {
   padding: 20px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.menu-toggle,
.menu-close {
   font-size: 1.2rem;
   color: $white;
   border: none;
   background: none;
   cursor: pointer;
}

.container {
   position: relative;
   min-height: 100vh;
   color: $white;

   &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: transparentize($primary, 0.5);
   }
}

.home,
.search {
   position: relative;
}

.weather {
   padding: 30px 20px;

   .event_probability {
      margin-bottom: 20px;
      padding: 5px;
      display: inline-block;
      font-size: 0.8rem;
      font-weight: bold;
      background: $danger;
      border-radius: 2px;

      &.safe {
         background: $safe;
      }
   }

   .card {
      margin-right: 20px;
      padding: 10px 0;
      min-width: 100px;
      max-width: 100px;
      text-align: center;
      background: transparentize($primary, 0.8);
      backdrop-filter: blur(5px);
      border-radius: 5px;
      overflow: hidden;

      &-head {
         font-size: 0.8rem;
      }

      &-body {
         margin: 5px 0;
         font-size: 1.5rem;
      }
   }
}

.weather-current {
   .status {
      display: flex;
      align-items: center;
      font-size: 2rem;
   }

   .status .units {
      font-family: 'OpenSansLight';
   }

   .status .icon {
      margin-right: 10px;
      text-align: center;

      p:last-child {
         font-size: 1rem;
      }
   }

   .time {
      display: flex;
      align-items: center;

      h2 {
         margin-right: 20px;
      }
   }
}

.weather-weekly {
   margin: 30px 0 60px 0;
   padding: 10px 0;
   display: flex;
   align-items: center;
   overflow-y: hidden;
   overflow-x: auto;
}

.weather-recent {
   h3 {
      margin-bottom: 10px;
   }

   .results {
      padding: 10px 0;
      display: flex;
      align-items: center;
      overflow-y: hidden;
      overflow-x: auto;
   }
}

.search {
   padding: 20px;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   transform: translateX(100%);
   background: transparentize($primary, 0.5);
   backdrop-filter: blur(5px);
   color: darken($white, 10%);
   transition: 0.2s ease-in-out;

   &.active {
      transform: translateX(0);
   }

   &-head {
      display: flex;
      align-items: center;

      .menu-close {
         margin: 0 10px;
      }
   }

   &-field {
      display: flex;
      align-items: center;
      width: 100%;
      border-radius: 5px;
      background: transparentize($primary, 0.5);
      overflow: hidden;

      .icon {
         margin: 0 10px;
      }

      .input {
         padding: 10px;
         width: 100%;
         font-family: 'OpenSansReg';
         background: none;
         border: none;
         outline: none;
         color: $white;

         &::placeholder {
            color: darken($white, 10%);
         }
      }
   }

   .recent {
      margin-top: 10px;

      p {
         padding: 10px;
         display: flex;
         align-items: center;
         cursor: pointer;

         &:hover {
            background: transparentize($primary, 0.8);
         }

         .icon:first-child {
            margin-right: 10px;
         }

         .icon:last-child {
            margin-left: auto;
            opacity: 0;
         }

         &:hover .icon:last-child {
            opacity: 1;
         }
      }
   }
}

@media screen and (min-width: $lg) {
   body.hide_content {
      overflow-y: initial;
   }

   .container {
      display: grid;
      grid-template-columns: auto minmax(200px, 400px);

      &.block {
         grid-template-columns: auto 0;
      }
   }

   .weather * {
      &::-webkit-scrollbar {
         height: 5px;
         background: none;
      }

      &::-webkit-scrollbar-thumb {
         border-radius: 25px;
         background: $primary;
      }

      &::-webkit-scrollbar-button {
         display: none;
      }
   }

   .search {
      position: sticky;
      transform: translateX(0);

      &.active {
         transform: translateX(100%);
      }

      .menu-close {
         display: none;
      }
   }
}
