.spinner {
   margin: auto;
   position: relative;
   height: 30px;
   width: 30px;
   grid-column-end: span 4;
   display: grid;
   place-items: center;
   border-radius: 50%;
   overflow: hidden;

   &::before,
   &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transform: scale(0.5);
      background: var(--white);
      border-radius: 50%;
      animation: wripple 1s linear infinite;
   }

   &::after {
      animation-delay: 0.2s;
   }
}

@keyframes wripple {
   from {
      opacity: 1;
      transform: scale(0.5);
   }

   to {
      opacity: 0;
      transform: scale(1.5);
   }
}
